body {
	font-family: helvetica;
	font-size: 13px;
	line-height: 1.;
	color:black;
  margin-top: 0px;
  margin-right: 0px;
  margin-left:0px;
  margin-bottom: 0px;
}

main {
	display:grid;
	min-height: 100vh;
	grid-template-columns: 1fr 320px;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "display logo" "display form" ;
}

canvas {
  display: block;
  border: 0px solid white; 
  z-index: 3;;
}
  
#form {
  grid-area: form;
  z-index: 0;
  background-color: #868686;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

#canvasSection {
  grid-area: display;
  font-size: 50px;
}
 
#pgSection {
  z-index: 3;
}
  
h1 {
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  line-height: 1.4;
}

#label {
  text-align: center;
  font-size: 13px;
  padding: 0px;
  margin: 8px;
}

#letter {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px; 
    border: 0px solid black; 
}


#paintingContainer {
    position: relative;
    max-width: 100%;
}

#paintingImage {
  max-width: 100%;
  height: auto;
}
  
#boundingBox {
  position: absolute;
  border: 3px solid #24FF00; 
  box-sizing: border-box;
  pointer-events: none; /* Allow interactions with the image underneath */
}


.toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 10px; 
  left: 10px;
  color: darkgray;
}

#selectedContainer {
  background: black;
  background-color: black;
  border-radius: 5px;
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  align-items: center; 
  position: fixed;
  bottom: 0; /* Stick to the bottom of the screen */
}

.button {
  flex-grow: 1;
  border-radius: 3px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  width: 143px;
  padding: 5px 0px 5px;
  color: lightgray;
  background-color: darkgrey;
  border: .5px solid darkgrey;
  margin: 10px 3px 10px 10px; 
  text-align: center;
}

.button:last-child {
  margin-right: 0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
}

img {
  max-width: 280px;
  height: auto;      /* Maintain the aspect ratio */
  display: block;   
  margin: 0 auto;     
  background-color: black;
}


#submission-button-container {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  height: 10px;
}

#submission-button {
  flex-grow: 1;
  border-radius: 3px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  width: 137px;
  padding: 5px 0px 5px;
  cursor: pointer;
  margin-right: 11px;
  color: black;
  background-color: #F2F2F2;
  border: .5px solid black;
  text-align: center;
}

.tab-container {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.tab {
  cursor: pointer;
  background-color: #BDBDBD;
  padding: 10px;
  border-bottom: none;
}

.tab.selected {
  background-color: #F2F2F2; /* Change to white when tab is selected */
}

.content-container {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #F2F2F2;
  margin-top: 0px;
  margin-bottom:0px;
}

.content {
  display: none;
  padding: 10px;
}

.content.active {
  display: block;
}

.colorText {
  color: red;
}


#letterBlocks {
  margin-top: 0px;
}

#inscription {
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-flex; 
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
}

figcaption {
  color:#A6A6A6;
  font-size: 12px;
}

a {
  color:#A6A6A6;
  text-decoration: none;
}